/* Define all colors in :root for guaranteed availability */
:root {
  --color-blue-ribbon-50: #f5fbff;
  --color-blue-ribbon-100: #ebf7ff;
  --color-blue-ribbon-200: #c9e8ff;
  --color-blue-ribbon-300: #a7d3fc;
  --color-blue-ribbon-400: #68a6fc;
  --color-blue-ribbon-500: #286afa;
  --color-blue-ribbon-600: #1f59e0;
  --color-blue-ribbon-700: #1645ba;
  --color-blue-ribbon-800: #0f3196;
  --color-blue-ribbon-900: #082070;
  --color-blue-ribbon-950: #041147;

  --color-ultramarine-50: #edf3fa;
  --color-ultramarine-100: #dae5f2;
  --color-ultramarine-200: #a8bde0;
  --color-ultramarine-300: #7c95cf;
  --color-ultramarine-400: #3547ab;
  --color-ultramarine-500: #020288;
  --color-ultramarine-600: #01017a;
  --color-ultramarine-700: #010166;
  --color-ultramarine-800: #010152;
  --color-ultramarine-900: #00003d;
  --color-ultramarine-950: #000026;

  --color-cloud-burst-50: #f0f5f7;
  --color-cloud-burst-100: #dfe8ed;
  --color-cloud-burst-200: #b2c6d4;
  --color-cloud-burst-300: #88a1b8;
  --color-cloud-burst-400: #496385;
  --color-cloud-burst-500: #1c2d50;
  --color-cloud-burst-600: #172647;
  --color-cloud-burst-700: #0f1c3b;
  --color-cloud-burst-800: #0a1430;
  --color-cloud-burst-900: #060d24;
  --color-cloud-burst-950: #020717;

  --color-apple-50: #f9fcf5;
  --color-apple-100: #f0f7e9;
  --color-apple-200: #daedca;
  --color-apple-300: #bfe0a8;
  --color-apple-400: #8bc973;
  --color-apple-500: #54b244;
  --color-apple-600: #47a137;
  --color-apple-700: #328525;
  --color-apple-800: #226b19;
  --color-apple-900: #154f0d;
  --color-apple-950: #0a3306;

  --color-sulu-50: #fefff7;
  --color-sulu-100: #fdfff2;
  --color-sulu-200: #f8ffde;
  --color-sulu-300: #f3ffc9;
  --color-sulu-400: #e4ffa1;
  --color-sulu-500: #d2ff78;
  --color-sulu-600: #b5e660;
  --color-sulu-700: #8bbf43;
  --color-sulu-800: #66992b;
  --color-sulu-900: #447318;
  --color-sulu-950: #264a0a;

  /* Perano */
  --color-perano-50: #fcfeff;
  --color-perano-100: #f5f9fc;
  --color-perano-200: #ecf0ff;
  --color-perano-300: #e5eaff;
  --color-perano-400: #bbcbed;
  --color-perano-500: #a1afe5;
  --color-perano-600: #8290cf;
  --color-perano-700: #5967ab;
  --color-perano-800: #3a478a;
  --color-perano-900: #202a66;
  --color-perano-950: #0d1442;

  /* Sapphire */
  --color-sapphire-50: #f2f7fa;
  --color-sapphire-100: #e6eef5;
  --color-sapphire-200: #c3d6e8;
  --color-sapphire-300: #a2bcdb;
  --color-sapphire-400: #6986bf;
  --color-sapphire-500: #394fa2;
  --color-sapphire-600: #2f4394;
  --color-sapphire-700: #20307a;
  --color-sapphire-800: #142161;
  --color-sapphire-900: #0c154a;
  --color-sapphire-950: #050b30;

  /* Biscay */
  --color-biscay-50: #f0f4f7;
  --color-biscay-100: #e1e9f0;
  --color-biscay-200: #b4c6d6;
  --color-biscay-300: #8ca2bd;
  --color-biscay-400: #4d628c;
  --color-biscay-500: #202c59;
  --color-biscay-600: #1a2552;
  --color-biscay-700: #121b42;
  --color-biscay-800: #0c1336;
  --color-biscay-900: #070c29;
  --color-biscay-950: #03061a;

  --color-solitude-50: #ffffff;
  --color-solitude-100: #fcfeff;
  --color-solitude-200: #fafeff;
  --color-solitude-300: #f5fcff;
  --color-solitude-400: #edf9ff;
  --color-solitude-500: #e5f4ff;
  --color-solitude-600: #bad2e6;
  --color-solitude-700: #80a1bf;
  --color-solitude-800: #537399;
  --color-solitude-900: #2e4b73;
  --color-solitude-950: #13284a;

  --color-magenta-100: #f6c3d0;
  --color-magenta-300: #d05e66;
  --color-magenta-500: #a4103b;

  --color-orange-200: #fff8df;
  --color-orange-500: #d65a20;
}

/* Tailwind theme for utility class generation */
@theme {
  --color-perano-50: #fcfeff;
  --color-perano-100: #f5f9fc;
  --color-perano-200: #ecf0ff;
  --color-perano-300: #e5eaff;
  --color-perano-400: #bbcbed;
  --color-perano-500: #a1afe5;
  --color-perano-600: #8290cf;
  --color-perano-700: #5967ab;
  --color-perano-800: #3a478a;
  --color-perano-900: #202a66;
  --color-perano-950: #0d1442;

  --color-sapphire-50: #f2f7fa;
  --color-sapphire-100: #e6eef5;
  --color-sapphire-200: #c3d6e8;
  --color-sapphire-300: #a2bcdb;
  --color-sapphire-400: #6986bf;
  --color-sapphire-500: #394fa2;
  --color-sapphire-600: #2f4394;
  --color-sapphire-700: #20307a;
  --color-sapphire-800: #142161;
  --color-sapphire-900: #0c154a;
  --color-sapphire-950: #050b30;

  --color-biscay-50: #f0f4f7;
  --color-biscay-100: #e1e9f0;
  --color-biscay-200: #b4c6d6;
  --color-biscay-300: #8ca2bd;
  --color-biscay-400: #4d628c;
  --color-biscay-500: #202c59;
  --color-biscay-600: #1a2552;
  --color-biscay-700: #121b42;
  --color-biscay-800: #0c1336;
  --color-biscay-900: #070c29;
  --color-biscay-950: #03061a;

  --color-solitude-50: #ffffff;
  --color-solitude-100: #fcfeff;
  --color-solitude-200: #fafeff;
  --color-solitude-300: #f5fcff;
  --color-solitude-400: #edf9ff;
  --color-solitude-500: #e5f4ff;
  --color-solitude-600: #bad2e6;
  --color-solitude-700: #80a1bf;
  --color-solitude-800: #537399;
  --color-solitude-900: #2e4b73;
  --color-solitude-950: #13284a;

  --color-magenta-100: #f6c3d0;
  --color-magenta-300: #d05e66;
  --color-magenta-500: #a4103b;

  --color-orange-100: #fff8df;
  --color-orange-300: #F5C6B0;
  --color-orange-500: #d65a20;

  --color-blue-ribbon-50: #f5fbff;
  --color-blue-ribbon-100: #ebf7ff;
  --color-blue-ribbon-200: #c9e8ff;
  --color-blue-ribbon-300: #a7d3fc;
  --color-blue-ribbon-400: #68a6fc;
  --color-blue-ribbon-500: #286afa;
  --color-blue-ribbon-600: #1f59e0;
  --color-blue-ribbon-700: #1645ba;
  --color-blue-ribbon-800: #0f3196;
  --color-blue-ribbon-900: #082070;
  --color-blue-ribbon-950: #041147;

  --color-apple-50: #f9fcf5;
  --color-apple-100: #f0f7e9;
  --color-apple-200: #daedca;
  --color-apple-300: #bfe0a8;
  --color-apple-400: #8bc973;
  --color-apple-500: #54b244;
  --color-apple-600: #47a137;
  --color-apple-700: #328525;
  --color-apple-800: #226b19;
  --color-apple-900: #154f0d;
  --color-apple-950: #0a3306;

  --color-ultramarine-50: #edf3fa;
  --color-ultramarine-100: #dae5f2;
  --color-ultramarine-200: #a8bde0;
  --color-ultramarine-300: #7c95cf;
  --color-ultramarine-400: #3547ab;
  --color-ultramarine-500: #020288;
  --color-ultramarine-600: #01017a;
  --color-ultramarine-700: #010166;
  --color-ultramarine-800: #010152;
  --color-ultramarine-900: #00003d;
  --color-ultramarine-950: #000026;

  --color-cloud-burst-50: #f0f5f7;
  --color-cloud-burst-100: #dfe8ed;
  --color-cloud-burst-200: #b2c6d4;
  --color-cloud-burst-300: #88a1b8;
  --color-cloud-burst-400: #496385;
  --color-cloud-burst-500: #1c2d50;
  --color-cloud-burst-600: #172647;
  --color-cloud-burst-700: #0f1c3b;
  --color-cloud-burst-800: #0a1430;
  --color-cloud-burst-900: #060d24;
  --color-cloud-burst-950: #020717;

  --color-sulu-50: #fefff7;
  --color-sulu-100: #fdfff2;
  --color-sulu-200: #f8ffde;
  --color-sulu-300: #f3ffc9;
  --color-sulu-400: #e4ffa1;
  --color-sulu-500: #d2ff78;
  --color-sulu-600: #b5e660;
  --color-sulu-700: #8bbf43;
  --color-sulu-800: #66992b;
  --color-sulu-900: #447318;
  --color-sulu-950: #264a0a;
}
