/* Define all colors in :root for guaranteed availability */
:root {
  --color-blue-ribbon-50: #f5fbff;
  --color-blue-ribbon-100: #ebf7ff;
  --color-blue-ribbon-200: #c9e8ff;
  --color-blue-ribbon-300: #a7d3fc;
  --color-blue-ribbon-400: #68a6fc;
  --color-blue-ribbon-500: #286afa;
  --color-blue-ribbon-600: #1f59e0;
  --color-blue-ribbon-700: #1645ba;
  --color-blue-ribbon-800: #0f3196;
  --color-blue-ribbon-900: #082070;
  --color-blue-ribbon-950: #041147;

  --color-apple-50: #f9fcf5;
  --color-apple-100: #f0f7e9;
  --color-apple-200: #daedca;
  --color-apple-300: #bfe0a8;
  --color-apple-400: #8bc973;
  --color-apple-500: #54b244;
  --color-apple-600: #47a137;
  --color-apple-700: #328525;
  --color-apple-800: #226b19;
  --color-apple-900: #154f0d;
  --color-apple-950: #0a3306;

  /* Perano */
  --color-perano-50: #fcfeff;
  --color-perano-100: #f5f9fc;
  --color-perano-200: #ecf0ff;
  --color-perano-300: #e5eaff;
  --color-perano-400: #bbcbed;
  --color-perano-500: #a1afe5;
  --color-perano-600: #8290cf;
  --color-perano-700: #5967ab;
  --color-perano-800: #3a478a;
  --color-perano-900: #202a66;
  --color-perano-950: #0d1442;

  /* Sapphire */
  --color-sapphire-50: #f2f7fa;
  --color-sapphire-100: #e6eef5;
  --color-sapphire-200: #c3d6e8;
  --color-sapphire-300: #a2bcdb;
  --color-sapphire-400: #6986bf;
  --color-sapphire-500: #394fa2;
  --color-sapphire-600: #2f4394;
  --color-sapphire-700: #20307a;
  --color-sapphire-800: #142161;
  --color-sapphire-900: #0c154a;
  --color-sapphire-950: #050b30;

  /* Biscay */
  --color-biscay-50: #f0f4f7;
  --color-biscay-100: #e1e9f0;
  --color-biscay-200: #b4c6d6;
  --color-biscay-300: #8ca2bd;
  --color-biscay-400: #4d628c;
  --color-biscay-500: #202c59;
  --color-biscay-600: #1a2552;
  --color-biscay-700: #121b42;
  --color-biscay-800: #0c1336;
  --color-biscay-900: #070c29;
  --color-biscay-950: #03061a;

  --color-solitude-50: #ffffff;
  --color-solitude-100: #fcfeff;
  --color-solitude-200: #fafeff;
  --color-solitude-300: #f5fcff;
  --color-solitude-400: #edf9ff;
  --color-solitude-500: #e5f4ff;
  --color-solitude-600: #bad2e6;
  --color-solitude-700: #80a1bf;
  --color-solitude-800: #537399;
  --color-solitude-900: #2e4b73;
  --color-solitude-950: #13284a;

  --color-magenta-100: #f6c3d0;
  --color-magenta-300: #d05e66;
  --color-magenta-500: #a4103b;
}

/* Tailwind theme for utility class generation */
@theme {
  --color-perano-50: #fcfeff;
  --color-perano-100: #f5f9fc;
  --color-perano-200: #ecf0ff;
  --color-perano-300: #e5eaff;
  --color-perano-400: #bbcbed;
  --color-perano-500: #a1afe5;
  --color-perano-600: #8290cf;
  --color-perano-700: #5967ab;
  --color-perano-800: #3a478a;
  --color-perano-900: #202a66;
  --color-perano-950: #0d1442;

  --color-sapphire-50: #f2f7fa;
  --color-sapphire-100: #e6eef5;
  --color-sapphire-200: #c3d6e8;
  --color-sapphire-300: #a2bcdb;
  --color-sapphire-400: #6986bf;
  --color-sapphire-500: #394fa2;
  --color-sapphire-600: #2f4394;
  --color-sapphire-700: #20307a;
  --color-sapphire-800: #142161;
  --color-sapphire-900: #0c154a;
  --color-sapphire-950: #050b30;

  --color-biscay-50: #f0f4f7;
  --color-biscay-100: #e1e9f0;
  --color-biscay-200: #b4c6d6;
  --color-biscay-300: #8ca2bd;
  --color-biscay-400: #4d628c;
  --color-biscay-500: #202c59;
  --color-biscay-600: #1a2552;
  --color-biscay-700: #121b42;
  --color-biscay-800: #0c1336;
  --color-biscay-900: #070c29;
  --color-biscay-950: #03061a;

  --color-solitude-50: #ffffff;
  --color-solitude-100: #fcfeff;
  --color-solitude-200: #fafeff;
  --color-solitude-300: #f5fcff;
  --color-solitude-400: #edf9ff;
  --color-solitude-500: #e5f4ff;
  --color-solitude-600: #bad2e6;
  --color-solitude-700: #80a1bf;
  --color-solitude-800: #537399;
  --color-solitude-900: #2e4b73;
  --color-solitude-950: #13284a;

  --color-magenta-100: #f6c3d0;
  --color-magenta-300: #d05e66;
  --color-magenta-500: #a4103b;

  --color-blue-ribbon-50: #f5fbff;
  --color-blue-ribbon-100: #ebf7ff;
  --color-blue-ribbon-200: #c9e8ff;
  --color-blue-ribbon-300: #a7d3fc;
  --color-blue-ribbon-400: #68a6fc;
  --color-blue-ribbon-500: #286afa;
  --color-blue-ribbon-600: #1f59e0;
  --color-blue-ribbon-700: #1645ba;
  --color-blue-ribbon-800: #0f3196;
  --color-blue-ribbon-900: #082070;
  --color-blue-ribbon-950: #041147;

  --color-apple-50: #f9fcf5;
  --color-apple-100: #f0f7e9;
  --color-apple-200: #daedca;
  --color-apple-300: #bfe0a8;
  --color-apple-400: #8bc973;
  --color-apple-500: #54b244;
  --color-apple-600: #47a137;
  --color-apple-700: #328525;
  --color-apple-800: #226b19;
  --color-apple-900: #154f0d;
  --color-apple-950: #0a3306;
}
