@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), sans-serif;
}

@utility btn-primary {
  @apply rounded-lg bg-blue-600 px-4 py-2 text-sm text-white shadow-md transition duration-150 hover:bg-blue-700;
}

h1 {
  color: #000;
  font-family: 'Open Sans';
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2.8px;
}

.hero-main {
  background: linear-gradient(
    346deg,
    rgba(69, 218, 255, 0.32) 4.34%,
    rgba(111, 231, 181, 0.32) 28.41%,
    rgba(187, 255, 48, 0.24) 60.32%
  );
}
